body {
  font-family: 'Inter', sans-serif;
  background: #fff;
  overflow-x: hidden;
}

header {
  display: flex;
  height: 48px;
  align-items: baseline;
  padding: 8px 24px;
  color: #28352f;
}

h1.logo {
  flex: 1;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

button.menu {
  display: flex;
  flex-direction: column;
  border: none;
  background: transparent;
}

.menu .bar {
  border: 2px solid #28352f;
  padding: 3px;
  width: 20px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #28352f;
}

section.headline {
  background: url("../img/header.png") center 0% no-repeat;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

.intro {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.intro h1 {
  color: #172b4d;
  padding: 24px 0;
  margin-bottom: 0;
}

.intro span.title {
  color: #36b37e;
  display: block;
  padding-top: 24px;
}

.intro .more-info {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #172b4d;
}

.intro .socials {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.socials .icon {
  margin: 0 10px;
  width: 14px;
  height: 14px;
}

.socials .icon:hover {
  cursor: pointer;
}

.go-to-works {
  text-align: center;
  margin: 50px 0 0 0;
  padding: 10px;
}

.go-to-works a:hover {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 327px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

section h2 {
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-top: 0;
}

#works hr {
  border: 2px solid #36b37e;
  width: 48px;
  height: 4px;
  margin-bottom: 70px;
  border-radius: 24px;
  background: #36b37e;
}

.border {
  border: 1px solid #d0d9d4;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  min-height: 400px;
  margin-bottom: 24px;
  align-items: center;
}

#works .card img {
  width: 100%;
}

.project-name h4 {
  font-size: 24px;
  font-weight: 600;
  color: #3a4a42;
  letter-spacing: 1px;
  padding: 0 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.tech-group {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.tech {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #3a4a42;
  line-height: 16px;
  margin: 0 6px;
  flex: 1;
}

.porcelain {
  color: #ebf0ee;
}

.btn {
  height: 48px;
  margin-top: 32px;
  padding: 12px;
  border-radius: 4px;
  background: #36b37f;
  border: 1px solid #36b37f;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
}

.btn:hover {
  cursor: pointer;
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:enabled {
  background: #36b37f;
}

.btn:active {
  background: #008552;
}

#about p {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
}

#about button.get-resume {
  align-self: center;
}

.skill {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  min-height: 352px;
  margin-bottom: 24px;
  background: #ebf0ee;
  align-items: center;
}

.skill .skill-icon {
  border: 1px solid #fff;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-top: 40px;
}

.skill h2 {
  font-size: 24px;
  font-weight: 600;
  color: #344563;
  letter-spacing: 1px;
  padding: 0 40px;
  margin-top: 70px;
  margin-bottom: 16px;
}

.skill-tech-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.skill-tech {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #36b37e;
  line-height: 16px;
  margin: 0 6px 8px;
  white-space: nowrap;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section p {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  margin-bottom: 50px;
  padding: 12px;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-section form input {
  height: 30px;
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid #d0d9d4;
  align-self: stretch;
}

.contact-section textarea {
  border: 1px solid #d0d9d4;
  border-radius: 5px;
  color: #091e42;
  padding: 20px 10px;
  font-family: 'Inter', sans-serif;
  border-color: #3eb380;
}

.contact-section button {
  height: 40px;
  width: 120px;
  background: #3eb380;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 10px auto 50px;
  padding-bottom: 35px;
}

.contact-section a {
  margin-top: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.bottom-bar {
  margin-top: 300px;
  height: 4px;
  width: 100px;
  background: #0d151e;
  border: #0d151e;
  border-radius: 25px
}
