body {
  /* margin: 0 auto; */
  font-family: 'Inter', sans-serif;
  background: #fff;
}

header {
  display: flex;
  height: 48px;
  align-items: baseline;
  padding: 8px 64px;
  color: #28352F
}

h1.logo{
  flex: 1;
  font-family: Inter;
  font-weight: 600;
  line-height: 28px;
}

span.menu {
  display: flex;
  flex-direction: column;
}

.menu .bar {
    border: 2px solid black;
    padding: 3px;
    width: 20px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
